 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.folder-1{
  padding: 1rem;
  border:1px solid #a8a8a834;
  border-radius: 6px;
 
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.folder-1:hover{
  transform: scale(1.05,1.05);
}
.menu{
  
  border:1px solid #a8a8a834;
  border-radius: 6px;
 
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.menu:hover{
   color: rgb(34, 50, 154);
  transform: scale(1.05,1.05);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
