 
 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+Thai:wght@100..900&family=Roboto+Condensed&display=swap');
.roboto1 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.noto-sans-thai {
  font-family: "Noto Sans Thai", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.heading {
  font-size: 1.5rem;  /* ขนาดตัวอักษรสำหรับหน้าจอเล็ก (มือถือ) */
}

@media (min-width: 600px) {
  .heading {
    font-size: 2rem;  /* ขนาดตัวอักษรสำหรับหน้าจอเล็กกลาง (แท็บเล็ต) */
  }
}

@media (min-width: 900px) {
  .heading {
    font-size: 2.5rem;  /* ขนาดตัวอักษรสำหรับหน้าจอกลาง (คอมพิวเตอร์โน้ตบุ๊ก) */
  }
}

@media (min-width: 1200px) {
  .heading {
    font-size: 3rem;  /* ขนาดตัวอักษรสำหรับหน้าจอใหญ่ (เดสก์ท็อป) */
  }
}
.detail-text {
  font-size: 0.875rem;  /* ขนาดตัวอักษรสำหรับหน้าจอเล็ก (มือถือ) */
}

@media (min-width: 600px) {
  .detail-text {
    font-size: 1rem;  /* ขนาดตัวอักษรสำหรับหน้าจอเล็กกลาง (แท็บเล็ต) */
  }
}

@media (min-width: 900px) {
  .detail-text {
    font-size: 1.125rem;  /* ขนาดตัวอักษรสำหรับหน้าจอกลาง (คอมพิวเตอร์โน้ตบุ๊ก) */
  }
}

@media (min-width: 1200px) {
  .detail-text {
    font-size: 1.25rem;  /* ขนาดตัวอักษรสำหรับหน้าจอใหญ่ (เดสก์ท็อป) */
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.folder-1{
  padding: 1rem;
  border:1px solid #a8a8a834;
  border-radius: 6px;
 
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.folder-1:hover{
  transform: scale(1.05,1.05);
}
.menu{
  
  border:1px solid #a8a8a834;
  border-radius: 6px;
 
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.menu:hover{
   color: rgb(34, 50, 154);
  transform: scale(1.05,1.05);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
